* {}

body {
    margin: 0px;

}


/* header_Part */


.contanir{

/* width: 70%;
margin: auto; */


}


header {

    background-color: rgb(29, 29, 124);

    height: 100px;

    border-radius: 10px;

    position: relative;

    top: 10px;

    margin: 10px;


}

.header{

    color: aliceblue;

    position: absolute;

    left: 45%;

    right: 20%;

    top: 20%;
}

.Div_Of_App {

    

    margin: 20px;

    margin-top: 100px;

    
}

/* Save_Part */

.Div_Of_Save {
    
    background-color: rgb(19, 38, 123);
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    margin: auto ;

}

/* Save_Part/Amount */
.Div_Of_Amount {
    margin: 5px;
    display: flex;
    gap: 10px;
    

}

.Label_Of_Amount {
    color: aliceblue;
}

.Input_Of_Amount {
    outline-style: none;
    flex: 1;
    width: 100%;
}



/* Save_Part/Activte */

.Div_Of_Activte {
    margin: 5px;
    display: flex;
   
gap: 10px;
}

.label_Of_Activte {
    color: aliceblue;
    
}

.Input_Of_Activte {
    outline-style: none;
    flex: 1;
    width: 100%;
}


/* Save_Part/Button_Of_Save */


.Button_Container{

display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.Button_Of_Save {
    

    background-color: blue;

    color: aliceblue;

    border-style: none;

    border-radius: 10px;

    padding: 10px;

    transition: 0.5s;

   margin-top: 20px;

   

}

.Button_Of_Save:hover {

    background-color: rgb(29, 29, 116);


}


/* Save_Part/select And Option */
.select_Div {
    background-color: blue;

    border-radius: 10px;

    padding: 8px;

    color: aliceblue;

    border-style: none;

    outline-style: none;

    transition: 0.5s;
margin-top: 20px;
    
}

/* .select_Div:hover {
    background-color: rgb(29, 29, 116);
} */


.option_One_Div {border-radius: 10px;}

.option_One_Div:hover {
    background-color: brown;
}




/* Part_History */

.Div_Of_History {


    background-color: rgb(19, 38, 123);
  
    border-radius: 20px;

    padding: 20px;
  
    max-height: 150px;

    overflow:scroll;
margin: auto;
    margin-top: 100px;

    width: 70%;
}

.Div_Of_History::-webkit-scrollbar{
    display: none;
}

.Div_Of_Transiction {

    background-color: rgba(40, 194, 9, 0.725);
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
margin-bottom: 10px;

}


.Span_Of_Amount{margin: 10px ; color: rgb(29, 20, 151); display: block;}


.Span_Of_Activte{margin: 10px; color: rgb(208, 211, 214);}


.Red_Transiction{background-color: rgba(214, 43, 43, 0.767);}


.Div_Of_Total_account{


    margin: 20px;

    position: absolute;

    left: 50%;

    background-color: rgb(19, 38, 123);

    padding: 20px;

    border-radius: 10px;

    color: aliceblue;

    font-size: larger;
}


@media(max-width:750px){
    
    .Div_Of_Save {
    
       width: 70%;
    
    }
    
}